* {
	box-sizing: border-box;
}

.page {
	font-size: 20pt;
}

@media screen and (min-width: 1000px) {
	.page {
		width: 960px;
		margin: 0 auto;
		font-size: 12pt;
	}
}

header {
	background-color: orange;
	font-size: 4em;
}

@media screen and (min-width: 1000px) {
	.primary-content {
		overflow: hidden;
	}
}

aside {
	background-color: magenta;
	padding: 10px;
	font-size: 2em;
}

@media screen and (min-width: 700px) {
	aside {
		float: left;
		width: 200px;
	}
}

nav {
	background-color: black;
	margin-top: 10px;
	display: none;
	height: 110px;
}

@media screen and (min-width: 700px) {
	nav {
		display: block;
	}
}


main {
	height: 100px;
	background-color: lightblue;
	font-size: 2em;
}

@media screen and (min-width: 700px) {
	main {
		margin-left: 200px;
	}
}



